.body {
    width: 520px;
    height: 570px;
}

/* MAIN WRAPPER */
.interface-wrapper {
    width: 500px;
    height: 550px;
    position: relative;
    margin: 10px;

    background: #be0000;
}

/* CHALLENGE */
.challenge-container {
    width: 500px;
    height: 470px;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
    right: auto;

    background: #87fd00;
}

.challenge {
    width: 500px;
    height: 470px;
    border-radius: 4px;
    overflow: hidden;

    background-color: blue;
}

.challenge-header {
    width: 500px;
    height: 110px;
    position: relative;
    display: block;
    margin-bottom: 10px;

    background-color: chocolate;
}

.challenge-prompt {

}

.prompt-padding {

}

.prompt-question {

}

.prompt-bg {

}

.examples {
    
}

.task-grid {

}

/* CHALLENGE PANEL */
.interface-challenge {
    width: 500px;
    height: 70px;
    position: absolute;
    direction: ltr;
    text-align: left;
    left: 0px;
    bottom: 0px;

    background-color: darkblue;
}

.display-error {

}

.challenge-breadcrumbs {

}

.button-submit {

}

/* USER PANEL */
.interface-user {
    width: 500px;
    height: 70px;
    position: absolute;
    direction: ltr;
    text-align: left;
    left: 0px;
    bottom: 0px;

    background-color: deeppink;
}

.language-selector {

}

.menu-info {

}

.button-refresh {

}

.captcha-logo {

}